body {
    background-color: rgb(197, 197, 197);
}

table {
    width: 96%;
    margin: 0px 2% 0px 2%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

.banniere {
    margin: 2%;
    background-color: black;
    font-size: 45px;
    color: white;
    margin-bottom: 20px;
    display: inline-flex; /* Utiliser inline-flex pour ajuster à la taille du contenu */
    align-items: center;
    height: 100%;

    border-radius: 5px;
}

.iconAmalthee {
    width: 40px;
    margin-right: 10px;
}

td {
    color: rgb(228, 228, 228);
    font-weight: bold;
    font-family: system-ui;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #212428;
    z-index: 1;
}

tr:nth-child(even):not(.titreTableau) {
    background-color: #15181c;
    z-index: 1;
}

.titreTableau {
    position: sticky;
    top: -1px;
    background-color: yellow !important;
    z-index: 2;
}

.main {
    position: relative;
}

.ongletRecherche {
    inline-size: auto;
    position: absolute;
    right: 2%;
    top: 0;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px;

    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    
}

.loupe {
    width: 15px;
    margin-right: 3px;
}

.texteRecherche {
    width: 300px;
}


tr td:nth-child(1) {
    font-size: 50px;
    width: 60px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;overflow: hidden; 
}

tr td:nth-child(2) {
    width: 50%;
}

.diminutionPrix {
    color: green;
}

.augmentationPrix {
    color: red;
}

@media only screen and (max-width: 720px) {
    h1 {
        color: red;
    }
    .ongletRecherche {
        margin-top: calc(85px) ;
    }

    table {
        margin-top: 40px;
    }
}

