.table-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin: 0px 30px 0px 30px;
    border-collapse: collapse;
    z-index: 2;
    width: 80%;
}

.titreTableau {
    position: sticky;
    top: 60px;
    background-color: #083a4e !important;
    z-index: 2;
    border-left: 1px solid #083a4e;
    border-right: 1px solid #083a4e;
}

#thead-data-items tr.titreTableau th {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 25px;
    color: #f4d89e;
    z-index: 1 !important;
}

#tbody-data-items tr td {
    z-index: 6 !important;
    color: white;
    /* border-bottom: 1px solid #373737; */
    padding: 8px;
    border: 1px solid #acacac;
}

#tbody-data-items tr td:nth-child(1) {
    width: 72px;
    text-align: center;
}

#tbody-data-items tr td:nth-child(2) {
    width: 40%;
    text-align: center;
}

#tbody-data-items tr td:nth-child(3) {
    width: 20%;
    text-align: center;
}

#tbody-data-items tr td:nth-child(4) {
    text-align: center;
    min-width: 100px;
    width: 100px;
    font-style: italic;
}

#tbody-data-items tr td:nth-child(5) {
    width: 20%;
    text-align: center;
}
 
#tbody-data-items tr td:nth-child(6) {
    width: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
    text-align: center;
}

#tbody-data-items tr:nth-child(odd) {
    background-color: #212428;
    z-index: 1;
}

#tbody-data-items tr:nth-child(even) {
    background-color: #15181c;
    z-index: 1;
}

.augmentationPrix {
    color: rgb(0, 205, 0) !important;
}

.diminutionPrix {
    color: red !important;
}

.diminutionPrix, .augmentationPrix {
    text-shadow: 
    1px 1px 0 rgb(0, 0, 0); /* Bordure blanche */
}

.cacher-haut-tableau {
    position: sticky;
    top: -1px;
    background-color: #062531;
    color: transparent;
    z-index: 3;
    height: 61px;
    width: 100%;
}

#tbody-data-items tr td img {
    width: 25px;
}

.sorted-asc::after {
    content: ' ▲';
}

.sorted-desc::after {
    content: ' ▼';
}

@media screen and (max-width: 720px) {
    #tableau {
        display: block;
        width: 100%;
    }
    

    #tableau #thead-data-items {
        width: 100%;
        
    }

    .resume {
        display: none;
    }
}

.resume {
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
}

#totalItems {
    text-align: center;
}

#priceChart {
    margin-top: 60px;
}

/* Pour l'historique */
.info-item-container {
    visibility: hidden;
    position: fixed;
    top: 5%;
    left: calc(20% - 50px);
    width: 60%;
    padding: 50px;
    color: rgb(194, 194, 194);
    background-color: rgb(25, 25, 25);
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid white;
    max-height: 80%;
    overflow-y: auto;
    z-index: 10;

}

.info-item-container .close {
    position: fixed;
    top: 6%;
    right: calc(20% - 50px + 20px);
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 0px 5px;
}

.info-item-container .close:hover {
    scale: 1.2;
}