.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin: 0px 30px 0px 30px;
    border-collapse: collapse;
    z-index: 2
}

.titreTableau {
    position: sticky;
    top: 30px;
    background-color: #083a4e !important;
    z-index: 2;
}

th {
    padding: 10px 40px;
    font-weight: bold;
    font-size: 25px;
    color: #f4d89e;
}

td {
    color: white;
    border-bottom: 1px solid #373737;
    text-align: center;
}

tr td:nth-child(3) {
}
tr td:nth-child(4) {
    text-align: left;
}


tr:nth-child(odd) {
    background-color: #212428;
    z-index: 1;
}

tr:nth-child(even):not(.titreTableau) {
    background-color: #15181c;
    z-index: 1;
}

.augmentationPrix {
    color: green;
}

.diminutionPrix {
    color: red;
}

@media only screen and (max-width: 720px) {
    table {
        margin-top: 40px;
    }
}

.cacher-haut-tableau {
    position: sticky;
    top: 0;
    background-color: #062531;
    color: transparent;
    z-index: 3;
    height: 32px;
}

td img {
    width: 25px;
}

.sorted-asc::after {
    content: ' ▲';
}

.sorted-desc::after {
    content: ' ▼';
}
